.partners {
	padding: 55px 0 120px;

	&-list {
		display: flex;
		width: 100%;
		flex-direction: column;

		@media screen and (max-width: 767px) {
			align-items: center;
		}
	}

	&-item {
		display: flex;
		align-items: flex-start;
		padding: 35px 0;
		background-color: #fff;
		box-shadow: 0px 1px 2px rgba(5, 27, 43, 0.14);
		border-radius: 4px;

		@media screen and (max-width: 767px) {
			flex-direction: column;
			padding: 43px 24px;
			width: 100%;
			max-width: 288px;
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&__logo {
			width: 22.6%;
			display: flex;
			justify-content: center;

			@media screen and (max-width: 767px) {
				justify-content: flex-start;
				width: auto;
				margin-bottom: 40px;
				order: 1;
			}
		}

		&__img {
			width: 95px;
		}

		&__info {
			color: #354556;
			width: 43.7%;

			@media screen and (max-width: 767px) {
				margin-bottom: 28px;
				order: 2;
				width: 100%;
			}
		}

		&__name {
			font-weight: bold;
			font-size: 21px;
			line-height: 32px;
			margin-bottom: 13px;
		}

		&__address {
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
		}

		&__contacts {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 13.4%;

			@media screen and (max-width: 767px) {
				order: 4;
				width: auto;
				margin-bottom: 2px;
			}
		}

		&__link {
			position: relative;
			display: flex;
			text-decoration: none;
			color: #0068da;
			margin-bottom: 5px;

			&:hover {
				@media screen and (min-width: 992px) {
					&::after {
						display: none;
					}
				}
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 7px;
				left: 0;
				right: 0;
				height: 1px;
				width: 100%;
				background-color: #0068da;
				opacity: 0.3;
			}
		}

		&__phone {
			font-size: 13px;
			line-height: 32px;
		}

		&__devider {
			height: 59px;
			width: 1px;
			background-color: #dcdee0;
			margin-top: 5px;

			@media screen and (max-width: 767px) {
				order: 3;
				height: 1px;
				width: 100%;
				margin-bottom: 24px;
			}
		}

		&__type {
			display: flex;
			justify-content: center;
			font-weight: 600;
			font-size: 13px;
			width: 15%;

			@media screen and (max-width: 767px) {
				order: 5;
				width: auto;
			}
		}
	}
}
